<h1 class="mt-4">Veículos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active"></li>
</ol>

<div class="container">
  <form #veiculoForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-6">
          <div class="alert alert-success" role="alert" *ngIf="success == true">
            Veículo salvo/atualizado com sucesso!
          </div>
          <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
            {{ erro }}
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Descrição:</label>
          <input type="text" class="form-control" [(ngModel)]="veiculos.descricao" name="descricao">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Placa:</label>
          <input type="text" class="form-control" [(ngModel)]="veiculos.placa" name="placa">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Tipo:</label>
          <input type="text" class="form-control" [(ngModel)]="veiculos.tipo" name="tipo">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn-success" *ngIf="!veiculos.id">
          <i class="fa fa-save"></i> Salvar
        </button>
      </div>

      <div class="col-md-2">
        <button type="submit" class="btn-primary" *ngIf="veiculos.id">
          <i class="fa fa-refresh"></i> Atualizar
        </button>
      </div>

      <div class="col-md-2">
        <button type="submit" class="btn-danger" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
