<h1 class="mt-4">Motoristas</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ servico.id ? 'Edição' : 'Cadastro'}}</li>
</ol>

<div class="container">
  <form #motoristaForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
          <div class="alert alert-success" role="alert" *ngIf="success == true">
            Motorista salvo/atualizado com sucesso!
          </div>
          <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
            {{ erro }}
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control" [(ngModel)]="servico.nome" name="nome"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>CPF:</label>
          <input type="text" class="form-control" [(ngModel)]="servico.cpf" name="cpf"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Telefone:</label>
          <input type="text" class="form-control" [(ngModel)]="servico.telefoneMotorista" name="telefoneMotorista"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Telefone Secundario:</label>
          <input type="text" class="form-control" [(ngModel)]="servico.telefoneSecundarioMotorista" name="telefoneSecundarioMotorista"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Numero da CNH:</label>
          <input type="text" class="form-control" [(ngModel)]="servico.numeroCNH" name="numeroCNH"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="inputCategoria">Categoria CNH:</label>
          <select [(ngModel)]="servico.categoriaCNH" class="form-control" name="categoriaCnh">
            <option value="">Selecione...</option>
            <option *ngFor="let categoriaCNH of categoriasCNH" [value]="categoriaCNH">
              {{categoriaCNH}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn-success" *ngIf="!servico.id">
          <i class="fa fa-save"></i> Salvar
        </button>
      </div>

      <div class="col-md-2">
        <button type="submit" class="btn-primary" *ngIf="servico.id">
          <i class="fa fa-check"></i> Atualizar
        </button>
      </div>

      <div class="col-md-2">
        <button type="submit" class="btn-danger" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>

