<h1 class="mt-4">Veículos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-bitem active"></li>
</ol>

<div>
  <button type="button" routerLink="/veiculos/cadastro" class="btn btn-warning">
    <i class="fa fa-plus"></i> Cadastrar Veículo
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Descricao</th>
            <th>Placa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let veiculos of vei">
            <td>{{veiculos.descricao}}</td>
            <td>{{veiculos.placa}}</td>
            <td>
              <button class="btn btn-primary"
                      routerLink="/veiculos/cadastro/{{veiculos.id}}">
                <i class="fa fa-edit"></i>
              </button>

              <button class="btn btn-danger" (click)="preparaDelecao(veiculos)" data-bs-toggle="modal" data-bs-target="#modalDelecao" >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf="veiculoSelecionado">
         Confirma a deleção do(a) cliente {{veiculoSelecionado.descricao}} ?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletarVeiculo()" data-dismiss="modal">Confirmar</button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.descricao} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.placa} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>

